<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <!-- Favorites -->
        <div class="favorites">
           <!-- <div class="favorito" v-for="[, favorito] in favoritos">-->
            <div class="favorito" v-for="favorito in TodosFavoritos">
                <a @click.prevent="MostrarFavorito(favorito)" href="#"><!--es un link representado con una imagen en pantalla-->
                    <img v-bind:src="favorito.avatar_url" v-bind:alt="favorito.name" class="favorite__avatar">
                </a>    
            </div>
        </div>

        <!-- Content -->
        <article class="content">
            <h1 class="content__title">Búsqueda de Usuarios en GitHub</h1>
            <!-- Search -->
            <form class="search" v-on:submit.prevent="Buscar">
                <input v-model="busqueda" type="text" class="search__input" required placeholder="Buscar Usuarios de GitHub">
                <input type="submit" class="search__submit" value="Buscar">
            </form>

            <!-- Result -->  
            <div class="result" v-if="result">
               <!-- <a v-if="favoritos.has(result.id)" href="" class="result__toggle-favorite" 
                @click.prevent="RemoverFavorito">Remover Favorito
                    <img src="icono estrella.png" width="30" height="30" alt=""></a> -->
                <a v-if="esFavorito" href="" class="result__toggle-favorite" 
                @click.prevent="RemoverFavorito">Remover Favorito
                    <img src="icono estrella.png" width="30" height="30" alt=""></a>
                <a v-else href="" class="result__toggle-favorite" @click.prevent="addFavorito">Añadir Favorito
                    <img src="icono estrella.png" width="30" height="30" alt=""></a>

                <h2 class="result__name">{{result.name}}</h2>
                <img v-bind:src="result.avatar_url" v-bind:alt="result.name" class="result__avatar">
                <p class="result__bio">{{result.bio}}
                    <br>
                    <a href="https://www.sena.edu.co" target="_blank" class="result__blog">www.sena.edu.co</a>
                </p>
            </div>

            <p v-else>Esperando por la búsqueda</p>

            <!-- Error -->
            <div v-show="error" class="result__error">{{error}}</div>
        </article>
    </div>
    <script src="js/main.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>